@charset "ISO-8859-1";
 .block {
			background-color: #9fc5f8;
            width: 300px;
            height: 150px;
            border: 1px solid #ccc;
            padding: 10px;
            resize: both; /* Allows resizing */
        }